@include respond-to('mobile') {
}

@include respond-to('desktop') {
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor('bg-footer');
  &__container {
    display: block;

    @include respond-to('desktop') {
      display: flex;
      align-items: baseline;
    }
  }

  &__thumb {
    display: block;
    margin-bottom: 60px;

    @include respond-to('tablet') {
      display: flex;
      justify-content: center;
      margin-bottom: 60;
    }

    @include respond-to('desktop') {
      margin-bottom: 0;
      align-items: baseline;
    }
  }

  &__logo {
    color: getColor('bg-prime');
  }

  &__contacts {
    margin-bottom: 60px;
    text-align: center;

    @include respond-to('tablet') {
      margin-bottom: 0;
      margin-right: 165px;
    }

    @include respond-to('desktop') {
      margin-right: 70px;
      text-align: left;
    }
  }
}

.footer-studio-contacts {
  margin-top: 20px;
  &__list {
    display: block;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    @include respond-to('desktop') {
      :not(:last-child) {
        margin-bottom: 9px;
      }
    }
  }
  &__addr {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: getColor('bg-prime');
    transition: color 250ms $timing-func;

    &:hover,
    &:focus {
      color: getColor('accent');
    }
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: getColor('addr-links');

    &:hover,
    &:focus {
      color: getColor('accent');
    }
  }
}

.follow {
  text-align: center;

  @include respond-to('desktop') {
    text-align: left;
    margin-bottom: 0;
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: getColor('bg-prime');
  }
}

.footer-social-netwrk {
  &__list {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  &__link {
    background-color: getColor('bg-footer-social-network-icon');
    color: getColor('bg-prime');
    fill: currentColor;
    &:hover,
    &:focus {
      background-color: getColor('accent');
    }
  }
}

.sbscrb {
  display: block;
  text-align: center;
  margin-right: 0;
  margin-left: auto;

  @include respond-to('desktop') {
    text-align: left;
  }

  &__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('bg-prime');
  }
}
