// Footer Subscribe Form

.form-sbscrb {
  display: block;
  width: 100%;

  @include respond-to('desktop') {
    display: flex;
  }

  &__label {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    background-color: getColor('bg-footer');
    color: getColor('addr-links');
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @include respond-to('tablet') {
      width: 450px;
      margin-left: auto;
      margin-right: auto;
    }

    @include respond-to('desktop') {
      width: 358px;
      margin-bottom: 0;
    }
  }

  &__input {
    outline: 0;
    outline-offset: 0;
    border: none;
    padding-left: 16px;
    background-color: inherit;
    color: getColor('bg-prime');
  }
}
.form-sbscrb-button {
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 28px;

  @include respond-to('desktop') {
    margin-left: 12px;
  }

  &__text {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
  }
  &__icon {
    width: 24px;
    height: 24px;
  }
  &:hover {
    cursor: pointer;
  }
}

// Backdrop Modal Order Form

.form-modal {
  height: 100%;
  padding: 0;
  text-align: center;
  &__title {
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor('title');

    @include respond-to('desktop') {
      line-height: calc(23 / 20);
    }
  }

  &__label {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__button {
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
    opacity: 0.6;
    transition: opacity 250ms $timing-func;
    box-shadow: none;
    &:hover,
    &:focus {
      outline: 0;
      outline-offset: 0;
      opacity: 1;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }
}

.label {
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  &__text {
    margin-bottom: 4px;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: getColor('primary-text');
  }
  &__input {
    height: 40px;
    padding-left: 42px;
    color: getColor('primary-text');
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms $timing-func;
  }
  &:focus-within,
  &:hover {
    .label__input,
    .label__textarea {
      outline: 0;
      outline-offset: 0;
      border: 1px solid getColor('accent');
      border-radius: 4px;
      cursor: pointer;
    }
    .label__icon {
      fill: getColor('accent');
    }
  }
  &__textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms $timing-func;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    display: inline-block;
    color: getColor('title');
    fill: currentColor;
    transition: fill 250ms $timing-func;
  }
  &__pic {
    width: 18px;
    height: 18px;
  }
}

.label-checkbox {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: getColor('primary-text');
  text-align: center;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 24px;

  @include respond-to('desktop') {
    font-size: 14px;
    line-height: calc(24 / 14);
    padding-left: 0;
    justify-content: center;
  }

  &__input {
    appearance: none;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    &:focus-within,
    &:hover {
      + .label-checkbox__text {
        opacity: 1;
        cursor: pointer;
      }
      ~ .label-checkbox__icon {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z' fill='%232196F3'/%3E%3C/svg%3E");
        background-position: center;
        background-size: contain;
        background-origin: content-box;
        cursor: pointer;
      }
    }
    &:checked {
      ~ .label-checkbox__icon {
        background-color: getColor('accent');
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m2.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
        background-position: center;
        background-size: contain;
        border-radius: 2px;
      }
    }

    @include respond-to('desktop') {
      margin: 6px;
    }
  }
  &__text {
    opacity: 0.6;
    transition: opacity 250ms $timing-func;
  }
  &__link {
    outline: 0;
    outline-offset: 0;
    text-decoration-line: underline;
    color: getColor('accent');
    margin-left: 4px;
  }
  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z'/%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    transition: background-color 250ms $timing-func, background-image 250ms v$timing-func;

    @include respond-to('desktop') {
      top: 4px;
      left: 4px;
    }
  }
}
