.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  padding-top: 16px;
  padding-bottom: 16px;

  background-color: getColor('bg-prime');
  border-bottom: 1px solid getColor('border-header');
  z-index: 1;

  @include respond-to('mobile') {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include respond-to('tablet') {
    padding-top: 18px;
    padding-bottom: 21px;
  }

  @include respond-to('desktop') {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__container {
    @include respond-to('mobile') {
      display: block;
      align-items: center;
    }

    @include respond-to('tablet') {
      display: flex;
    }
  }
}

.header-studio-contacts {
  display: block;
  margin-bottom: 64px;

  @include respond-to('tablet') {
    width: fit-content;
    margin-left: auto;
    margin-bottom: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    @include respond-to('tablet') {
      &:not(:last-child) {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }

  &__link {
    &--phone {
      font-weight: 500;
      font-size: 1rem;
      line-height: calc(40 / 43);
      letter-spacing: 0.02em;

      color: getColor('accent');
      @include respond-to('mobile') {
        font-size: 34px;
      }
    }
    &--e-mail {
      font-weight: 500;
      font-size: 1rem;
      line-height: calc(28 / 24);
      letter-spacing: 0.02em;

      color: getColor('primary-text');
      @include respond-to('mobile') {
        font-size: 24px;
      }
    }
    @include respond-to('tablet') {
      font-weight: 500;

      font-size: 12px;
      line-height: calc(14 / 12);

      display: flex;
      padding: 0;
      align-items: center;
      color: getColor('primary-text');
      fill: currentColor;
      transition: color 250ms $timing-func;
      &:hover,
      &:focus {
        color: getColor('accent');
      }
    }
  }

  &__icon {
    display: none;

    @include respond-to('tablet') {
      margin-right: 8px;
      width: 14px;
    }
  }

  @include respond-to('desktop') {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__item {
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 30px;
      }
    }

    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;
    }

    &__icon {
      margin-right: 10px;
      width: 16px;
    }
  }
}

.header-studio-scl-ntwrk {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  &__item {
    &:not(:first-child) {
      padding-left: 10px;
    }
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
  &__link {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    font-size: 0.85rem;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: getColor('accent');

    @include respond-to('mobile') {
      font-size: 18px;
    }
  }
}
