.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  padding-top: 16px;
  padding-bottom: 16px;

  background-color: getColor('bg-prime');
  border-bottom: 1px solid getColor('border-header');
  z-index: 1;

  @include respond-to('mobile') {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include respond-to('tablet') {
    padding-top: 18px;
    padding-bottom: 21px;
  }

  @include respond-to('desktop') {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__container {
    @include respond-to('mobile') {
      display: block;
      align-items: center;
    }

    @include respond-to('tablet') {
      display: flex;
    }
  }
}

.header-studio-contacts {
  display: none;

  @include respond-to('tablet') {
    display: block;

    width: fit-content;
    margin-left: auto;
  }

  &__item {
    @include respond-to('tablet') {
      &:not(:last-child) {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }

  &__link {
    @include respond-to('tablet') {
      font-weight: 500;

      font-size: 12px;
      line-height: calc(14 / 12);

      display: flex;
      padding: 0;
      align-items: center;
      color: getColor('primary-text');
      fill: currentColor;
      transition: color 250ms $timing-func;
      &:hover,
      &:focus {
        color: getColor('accent');
      }
    }
  }

  &__icon {
    @include respond-to('tablet') {
      margin-right: 8px;
      width: 14px;
    }
  }

  @include respond-to('desktop') {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__item {
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 30px;
      }
    }

    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;
    }

    &__icon {
      margin-right: 10px;
      width: 16px;
    }
  }
}
