.header {
  padding-top: 24px;
  padding-bottom: 25px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  background-color: getColor('bg-prime');
  border-bottom: 1px solid getColor('border-header');
  z-index: 1;
  &__container {
    display: flex;
    align-items: center;
  }
}

.header-studio-contacts {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  margin-left: auto;
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    display: flex;
    padding: 0;
    align-items: center;
    color: getColor('primary-text');
    fill: currentColor;
    transition: color 250ms $timing-func;
    &:hover,
    &:focus {
      color: getColor('accent');
    }
  }
  &__icon {
    margin-right: 10px;
  }
}
