.site-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  &__logo {
    color: getColor('title');
  }

  &__icon {
    &--close {
      display: none;
    }
    transition: fill 250ms $timing-func;
  }

  &__button {
    margin: 0;
    padding: 0;
    margin-left: auto;
    display: inline-flex;
    border: none;
    background-color: transparent;

    @include respond-to('tablet') {
      display: none;
    }

    color: getColor('title');
    fill: currentColor;
    &:hover {
      .site-nav {
        &__icon {
          fill: getColor('accent');
        }
      }
    }

    &.is-open {
      z-index: 2;
      .site-nav__icon--close {
        display: block;
      }
      .site-nav__icon--menu {
        display: none;
      }
    }
  }

  &__menu {
    outline: 1px solid green;
    display: none;

    position: absolute;
    // top: 100%;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: getColor('bg-prime');
    padding: 48px 40px;
    // text-align: center;
    font-size: 20px;

    @include respond-to('tablet') {
      position: static;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      margin-right: 0;
      height: 100%;
    }

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      // @include respond-to('tablet') {
      //   display: flex;
      // }
    }
  }

  &__navigation,
  &__contacts {
    margin-left: 0;
    width: 100%;
  }

  &__list {
    display: block;

    @include respond-to('tablet') {
      display: flex;
      align-items: center;
      margin-left: 93px;
      padding: 0;
    }
  }

  &__item {
    // display: block;
    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @include respond-to('tablet') {
      display: flex;
      margin-bottom: 0px;
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }

  &__link {
    font-weight: 500;
    font-size: 2rem;
    line-height: calc(47 / 40);
    text-align: center;
    letter-spacing: 0.02em;

    color: getColor('title');
    transition: color 250ms $timing-func;

    &:hover,
    &:focus {
      color: getColor('accent');
    }

    @include respond-to('mobile') {
      font-weight: 500;
      font-size: 40px;
      line-height: calc(47 / 40);
    }

    @include respond-to('tablet') {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;

      position: relative;
      display: block;
      // transition: color 250ms $timing-func;
      // &:hover,
      // &:focus {
      //   color: getColor('accent');
      // }
      &--active {
        color: getColor('accent');
        &::after {
          content: '';
          display: block;

          position: absolute;
          left: 0;
          bottom: -33px;

          width: 100%;
          height: 4px;
          border-radius: 2px;
          background-color: getColor('accent');

          transform: scaleX(0);

          animation-name: barScale;
          animation-duration: 1000ms;
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-play-state: running;
          animation-delay: 250ms;
          animation-fill-mode: forwards;
        }
        @keyframes barScale {
          0% {
            transform: scaleX(0);
          }
          50% {
            transform: scaleX(1.2);
          }
          100% {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
