.site-nav {
  &__logo {
    color: getColor('title');
  }
  &__item {
    display: none;
  }
}

@include respond-to('mobile') {
  &__item {
    display: none;
  }
}

@include respond-to('tablet') {
  .site-nav {
    display: flex;
    &__list {
      display: flex;
      align-items: center;
      margin-left: 93px;
      padding: 0;
    }
    &__item {
      display: flex;
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;

      color: getColor('title');
      position: relative;
      display: block;
      transition: color 250ms $timing-func;
      &:hover,
      &:focus {
        color: getColor('accent');
      }
      &--active {
        color: getColor('accent');
        &::after {
          content: '';
          display: block;

          position: absolute;
          left: 0;
          bottom: -33px;

          width: 100%;
          height: 4px;
          border-radius: 2px;
          background-color: getColor('accent');

          transform: scaleX(0);

          animation-name: barScale;
          animation-duration: 1000ms;
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-play-state: running;
          animation-delay: 250ms;
          animation-fill-mode: forwards;
        }
        @keyframes barScale {
          0% {
            transform: scaleX(0);
          }
          50% {
            transform: scaleX(1.2);
          }
          100% {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

@include respond-to('desktop') {
  .site-nav {
    display: flex;
    &__list {
      display: flex;
      align-items: center;
      margin-left: 93px;
      padding: 0;
    }
    &__item:not(:last-child) {
      margin-right: 50px;
    }
    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;

      color: getColor('title');
      position: relative;
      display: block;
      transition: color 250ms $timing-func;
      &:hover,
      &:focus {
        color: getColor('accent');
      }
      &--active {
        color: getColor('accent');
        &::after {
          content: '';
          display: block;

          position: absolute;
          left: 0;
          bottom: -33px;

          width: 100%;
          height: 4px;
          border-radius: 2px;
          background-color: getColor('accent');

          transform: scaleX(0);

          animation-name: barScale;
          animation-duration: 1000ms;
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-play-state: running;
          animation-delay: 250ms;
          animation-fill-mode: forwards;
        }
        @keyframes barScale {
          0% {
            transform: scaleX(0);
          }
          50% {
            transform: scaleX(1.2);
          }
          100% {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

.site-nav {
  display: flex;
  &__logo {
    color: getColor('title');
  }
  &__list {
    display: flex;
    align-items: center;
    margin-left: 93px;
    padding: 0;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: getColor('title');
    position: relative;
    display: block;
    transition: color 250ms $timing-func;
    &:hover,
    &:focus {
      color: getColor('accent');
    }
    &--active {
      color: getColor('accent');
      &::after {
        content: '';
        display: block;

        position: absolute;
        left: 0;
        bottom: -33px;

        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: getColor('accent');

        transform: scaleX(0);

        animation-name: barScale;
        animation-duration: 1000ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-play-state: running;
        animation-delay: 250ms;
        animation-fill-mode: forwards;
      }
      @keyframes barScale {
        0% {
          transform: scaleX(0);
        }
        50% {
          transform: scaleX(1.2);
        }
        100% {
          transform: scaleX(1);
        }
      }
    }
  }
}
