body {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-style: normal;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

address {
  font-style: normal;
}

b,
strong {
  font-weight: bolder;
}

// button,
// select {
//   text-transform: none;
// }

// button,
// [type='button'],
// [type='reset'],
// [type='submit'] {
//   -webkit-appearance: button;
// }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}
