/* ------------ Section Hero ------------ */

.hero {
  &__overlay {
    padding: 118px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: getColor('bg-hero');

    @include respond-to('desktop') {
      padding: 200px 0;
    }

    // max-width: 1600px;

    background-image: image-set(
      url('../../images/banner/hero-img-480.jpg') 1x,
      url('../../images/banner/hero-img-480@2x.jpg') 2x
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    // max-width: 480px;
    // max-height: 400px;
    // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    //   url('../../images/banner/hero-img-480.jpg');
    // // background-size: 480px 400px;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;

    // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    //   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    //     url('../../images/banner/hero-img-480@2x.jpg');
    // }
  }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   &__overlay {
  //     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //       url('../../images/banner/hero-img-480@2x.png');
  //   }
  // }

  &__overlay {
    // background-color: getColor('bg-hero');
    // // max-width: 1600px;
    // margin-left: auto;
    // margin-right: auto;

    // max-width: 480px;
    // // height: 400px;
    // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    //   url('../../../goit-markup-hw-08/images/banner/hero-img-480.jpg');
    // // background-size: 480px 400px;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
  }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   &__overlay {
  //     background-image: url('../../../goit-markup-hw-08/images/banner/hero-img-480@2x.jpg);
  //   }
  // }

  // &__overlay {
  //   @include respond-to('tablet') {
  //     max-width: 768px;
  //     // height: 400px;
  //     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //       url('./images/banner/hero-img-768.jpg');
  //     // background-size: 768px 400px;
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     background-position: center;
  //   }
  // }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   &__overlay {
  //     background-image: url('./images/banner/hero-img-768@2x.jpg');
  //   }
  // }

  // &__overlay {
  //   @include respond-to('desktop') {
  //     max-width: 1600px;
  //     // height: 600px;
  //     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //       url('./images/banner/hero-img-1600.jpg');
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     background-position: center;
  //   }
  // }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   &__overlay {
  //     background-image: url('./images/banner/hero-img-1600@2x.jpg');
  //   }
  // }

  &__container {
    text-align: center;
  }
  &__title {
    margin-bottom: 30px;
    font-weight: 900;

    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: getColor('bg-prime');

    @include respond-to('desktop') {
      font-size: 44px;
      line-height: calc(60 / 44);
    }
  }
  &__button {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

/* ------------ Section About ------------ */

.about {
  padding-top: 60px;
  padding-bottom: 60px;

  @include respond-to('desktop') {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__title {
    @extend %visually-hidden;
  }

  &__list {
    width: 100%;
    margin: -15px;

    @include respond-to('tablet') {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    margin: 15px;

    @include respond-to('tablet') {
      flex-basis: calc((100% - 4 * 15px) / 2);
    }

    @include respond-to('desktop') {
      flex-basis: calc((100% - 8 * 15px) / 4);
    }
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background-color: getColor('bg-minor');
    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
    @include generateIcons($iconAbout);
  }

  &__sub-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('title');
  }

  &__text {
    padding: 0;
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: getColor('primary-text');
  }
}

/* ------------Section Profile ------------ */

.profile {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-bottom: 94px;
  &__title {
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &__item {
    margin: 15px;
    width: 370px;
  }
  &__thumb {
    position: relative;
    width: 100%;
  }
  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: getColor('bg-prime');
    background-color: rgba(47, 48, 58, 0.8);
  }
}

/* ------------ Section Our Team ------------ */

@include respond-to('tablet') {
  // flex-basis: calc((100% - 4 * 15px) / 2);
}

@include respond-to('desktop') {
  // flex-basis: calc((100% - 8 * 15px) / 4);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: getColor('bg-minor');

  @include respond-to('desktop') {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__title {
    font-size: 28px;
    line-height: calc(33 / 28);
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    @include respond-to('desktop') {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 50px;
    }
  }
  &__list {
    width: 100%;
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  &__item {
    margin: 15px;
    background: getColor('bg-prime');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @include respond-to('tablet') {
      flex-basis: calc((100% - 4 * 15px) / 2);
    }

    @include respond-to('desktop') {
      flex-basis: calc((100% - 8 * 15px) / 4);
    }
  }
  &__card {
    display: grid;
    justify-content: center;
  }
  &__card {
    padding-top: 30px;
    padding-bottom: 24px;

    @include respond-to('desktop') {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  &__sub-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);

    text-align: center;
    letter-spacing: 0.03em;

    color: getColor('title');
  }
  &__position {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);

    text-align: center;
    letter-spacing: 0.03em;

    color: getColor('primary-text');
    padding: 0;
    margin: 0px 0px 16px 0px;
    margin-bottom: 16px;
  }
}

.team-social-netwrk {
  &__link {
    background-color: getColor('bg-prime');
    color: getColor('icon');
    fill: currentColor;
    &:hover,
    &:focus {
      background-color: getColor('accent');
      fill: getColor('bg-prime');
    }
  }
}

/* ------------ Section Our Clients ------------ */

.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @include respond-to('desktop') {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__container {
    display: flex;
    justify-content: center;
  }
  &__title {
    font-size: 28px;
    line-height: calc(33 / 28);
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    @include respond-to('desktop') {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 50px;
    }
  }
  &__list {
    width: 100%;
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  &__item {
    margin: 15px;

    flex-basis: calc((100% - 4 * 15px) / 2);

    @include respond-to('tablet') {
      flex-basis: calc((100% - 6 * 15px) / 3);
    }

    @include respond-to('desktop') {
      flex-basis: calc((100% - 12 * 15px) / 6);
    }
  }
  &__link {
    display: inline-flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    height: 100%;
    border: 1px solid getColor('icon');
    border-radius: 4px;
    cursor: pointer;
    color: getColor('icon');
    fill: currentColor;
    transition: color 250ms $timing-func, border-color 250ms $timing-func, fill 250ms $timing-func;
    &:hover,
    &:focus {
      border-color: getColor('accent');
      fill: getColor('accent');
    }
  }
  &__icon {
    width: 106px;
    height: 60px;
  }
}
