.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  &__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: getColor('title');
    @extend %visually-hidden;
  }
}

.projects-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &__button {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);

    background-color: getColor('bg-minor');
    color: getColor('title');

    transition: background-color 250ms $timing-func;
    box-shadow: none;

    &:hover,
    &:focus {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      background-color: getColor('accent');
      color: getColor('bg-prime');
      cursor: pointer;
    }
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;

  margin-right: calc(-1 * #{$item-gap});
  margin-bottom: calc(-1 * #{$item-gap});
  &__item {
    // width: 370px;
    // flex-basis: calc((1 / #{$portfolio-card-box-nmbr-row} - #{$portfolio-card-box-nmbr-row} - 1));
    // width: calc (100%-2*10px)/2; - пример Рпт (1:00:00 Webinar)
    margin-right: $item-gap;
    margin-bottom: $item-gap;
  }
  &__link {
    display: block;
    transition: box-shadow 250ms $timing-func;
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      .projects__dscrpt {
        transform: translateY(0);
      }
      .projects__text {
        opacity: 1;
      }
    }
  }
  &__thumb {
    position: relative;
    overflow: hidden;
  }
  &__dscrpt {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    top: 0;
    left: 0;

    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms $timing-func;
  }
  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: calc(28 / 18);
    color: getColor('bg-prime');
    opacity: 0;
    transition: opacity 250ms $timing-func 250ms;
  }
  &__label {
    padding: 20px 24px;
    border: 1px solid getColor('border-prj');
    border-top: none;
  }
  &__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;

    color: getColor('title');
  }
  &__division {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;

    color: getColor('primary-text');
  }
}
