.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @include respond-to('desktop') {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: getColor('title');
    @extend %visually-hidden;
  }
}

.projects-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -8px;

  @include respond-to('tablet') {
    justify-content: center;
  }

  &__item {
    margin: 8px;
  }
  &__button {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);

    background-color: getColor('bg-minor');
    color: getColor('title');

    transition: background-color 250ms $timing-func;
    box-shadow: none;

    &:hover,
    &:focus {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      background-color: getColor('accent');
      color: getColor('bg-prime');
      cursor: pointer;
    }
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-top: 40px;

  @include respond-to('tablet') {
    margin-top: 30px;
  }

  @include respond-to('desktop') {
    margin-top: 50px;
  }

  &__item {
    margin: 15px;
    border: 1px solid getColor('border-prj');
    flex-basis: calc((100% - 2 * 15px) / 1);

    @include respond-to('tablet') {
      flex-basis: calc((100% - 4 * 15px) / 2);
    }

    @include respond-to('desktop') {
      flex-basis: calc((100% - 6 * 15px) / 3);
    }
  }

  &__link {
    height: 100%;
    display: block;
    transition: box-shadow 250ms $timing-func;
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      .projects__dscrpt {
        transform: translateY(0);
      }
      .projects__text {
        opacity: 1;
      }
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__dscrpt {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    top: 0;
    left: 0;

    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms $timing-func;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    color: getColor('bg-prime');
    opacity: 0;
    transition: opacity 250ms $timing-func 250ms;
  }

  &__label {
    height: 100%;
    padding: 20px 24px;
  }

  &__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;

    color: getColor('title');
  }
  &__division {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;

    color: getColor('primary-text');
  }
}
